version: '2'
services:
  nexus:
    image: '{{ version }}'
    restart: always
    container_name: nexus
    hostname: nexus.local.server
    environment:
      TZ: Asia/Shanghai
    ports:
      - 8081:8081
      - 8082:8082
      - 8083:8083
    volumes:
      - '/data/dockerImages/nexus/data:/nexus-data'


